mixin loginForm()
  .form-card.text-center
    form.my-4.px-5.pt-5.pb-3.bg-white.rounded.box-shadow.signin-form(action="/auth/google" method="GET")
      img.mb-4.mt-2(src='/images/logos/dd9_extranet_logo_v2_deluxe.png', alt='DD9 Extranet V2.0')
      button.btn.btn-lg.btn-light.btn-block.mb-5.signin-button(type='submit') Sign in with Google
      p.mt-1
        a(href='https://dd9.com') DD9
