NODE_ENV=development
DATABASE=<contact an admin for the dev and prod DB connection strings>
MAIL_USER=mailTrapUser
MAIL_PASS=mailTrapPass
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
PORT=7777
KEY=session
SECRET=sessionsecret
