.form-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 165px;
  padding-bottom: 40px;
}

.signin-form {
  width: 100%;
  max-width: 330px;
  margin: auto;
}

.signin-button {
  margin-top: 24px;
}