.container.mt-5.px-4
  .page-footer.row
    .col.px-0.py-0
      a.px-0.py-0.navbar-brand(href='/')
        img.footer-logo(src="/images/logos/dd9_extranet_logo_v2_deluxe.png")
    .col.px-0.py-0
      .text-right
        p.text-secondary.d-inline
        | © 2018 Copyright:
        a(href='https://www.dd9.com')
          p.d-inline
          |  dd9.com