.container.mt-2.mb-4.px-1
  nav.navbar.bg-dd9-solid-red.text-white.shadow-sm.px-0.py-0
    ul.nav
      if user.permissions[0].admin
        li.nav-item
          a.nav-link(href='/') Users
        li.nav-item
          a.nav-link(href='/') Companies
        li.nav-item
          a.nav-link(href='/hourLog/all') Hour Logs
      li.nav-item
        a.nav-link(href='/timeEntry/new') Time Entries
    ul.nav.justify-content-end
      li.nav-item
        a.nav-link.text-white(href='/') #{user.email}
      li.nav-item
        a.nav-link(href='/auth/logout') logout


