doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/logos/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .flasher.slider.closed

    if user
      header
        include header

    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
          each category in categories
            .flasher.node-flash(class=`${category}`)
              each message in flashes[category]
                .flash-text.node-flash-text #{message}

    .content
      block content

    if user
      footer
        include footer

    block scripts
      script(src="/dist/App.bundle.js")
