doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/logos/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    if user
      header
        include header

    block messages
      if locals.flashes
        .flash-container
          - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .alert(class=`alert-${category}` role="alert").alert-dismissible.fade.show.d-inline-block
                  p.d-inline #{message}
                  button.d-inline.close(data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
    .content
      block content

    if user
      footer
        include footer

    block scripts
      script(src="/dist/App.bundle.js")
