extends ../index/layout

include ./mixins/_editUserOneForm
include ./mixins/_editUserOneFormAdmin

block content
  .container
    h3.user-one-title My Account
    .my-1.py-3.px-3.bg-white.rounded.box-shadow
      if user.permissions[0].admin
        +editUserOneFormAdmin()
      else
        +editUserOneForm()