.hour-log-one {
  font-size: 15px;
}

.company-all-table-title {
  margin-left: 10px;
}

.close-hour-log-btn {
  margin-right: 10px;
  margin-bottom: 12px;
  float: right;
}

.open-hour-log-btn {
  margin-right: 10px;
  margin-bottom: 12px;
  float: right;
}

.hour-log-one-time-entry-card {
  margin-bottom: 40px;
}