.hour-log-one-container {
  font-size: 15px;
}

.company-all-table-title {
  margin-left: 10px;
}

.close-hour-log-btn {
  margin-right: 10px;
  margin-bottom: 12px;
  float: right;
}

.open-hour-log-btn {
  margin-right: 10px;
  margin-bottom: 12px;
  float: right;
}

.hour-log-one-time-entry-card {
  margin-bottom: 40px;
}

.hour-log-one-all-action-btn {
  margin-left: 10px;
}

// Datatable table th alignment
.hour-log-one-time-entry-th-date {
  width: 9% !important;
}
.hour-log-one-time-entry-th-company {
  width: 14% !important;
}
.hour-log-one-time-entry-th-user {
  width: 13% !important;
}
.hour-log-one-time-entry-th-hours {
  width: 4% !important;
}
.hour-log-one-time-entry-th-description {
  width: 36% !important;
}
.hour-log-one-time-entry-th-actions  {
  width: 24% !important;
}

// DataTable td alignment
.hour-log-one-time-entry-table td:nth-child(1) {
  padding-top: 11.9px !important;
  padding-bottom: 0 !important;
}

.hour-log-one-time-entry-table td:nth-child(2) {
  padding-top: 11.9px !important;
  padding-bottom: 0 !important;
}

.hour-log-one-time-entry-table td:nth-child(3) {
  padding-top: 11.9px !important;
  padding-bottom: 0 !important;
}

.hour-log-one-time-entry-table td:nth-child(4) {
  padding-top: 11.9px !important;
  padding-bottom: 0 !important;
}

.hour-log-one-time-entry-table td:nth-child(5) {
  padding-top: 11.9px !important;
  padding-bottom: 0 !important;
}

.hour-log-one-time-entry-table td:nth-child(6) {
  padding-bottom: 0 !important;
}