.hour-log-all-table-title {
  margin-left: 10px;
}

.hour-log-all-table {
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 20px;
}

// Datatable table head lineup
.hour-log-all-th-date-opened {
  width: 12.5% !important;
}
.hour-log-all-th-date-closed {
  width: 12.5% !important;
}
.hour-log-all-th-company {
  width: 30% !important;
}
.hour-log-all-th-title {
  width: 30% !important;
}
.hour-log-all-th-total-public-hours {
  width: 7.5% !important;
}
.hour-log-all-th-total-hidden-hours {
  width: 7.5% !important;
}