NODE_ENV=development
DATABASE=<contact an admin for the dev and prod DB connection strings>
MAIL_USER=mailTrapUser
MAIL_PASS=mailTrapPass
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
PORT=7777
KEY=session
SECRET=randomsecret
GOOGLE_CLIENT_ID=<contact an admin for keys>
GOOGLE_CLIENT_SECRET=<contact an admin for keys>
DOMAIN=http://localhost:7777
