.company-one-title-btn {
  margin-left: 20px;
  margin-bottom: 12px;
}

.company-one-table-paginate {
  display: none;
}

.company-one-table-title {
  margin-left: 10px;
}

.company-one-table-title h3 {
  display: inline;
}

.company-one-table {
  font-size: 14px;
  margin-top: 10px;
}

// Fixing misaligned table headers, see table row width %'s in hourLogAll.js
.company-one-th-date-opened {
  width: 15% !important;
}
.company-one-th-date-closed {
  width: 15% !important;
}
.company-one-th-email {
  width: 50% !important;
}
.company-one-th-company {
  width: 10% !important;
}
.company-one-th-role {
  width: 10% !important;
}