.user-all-table-paginate {
  display: none;
}

.user-all-table-title {
  margin-left: 10px;
}

.user-all-table-title h3 {
  display: inline;
}

.create-user-btn {
  margin-left: 20px;
  margin-bottom: 12px;
}

.user-all-table {
  font-size: 14px;
  margin-top: 10px;
}