mixin createTimeEntry()
  hr
  form#createTimeEntryForm.create-time-entry-form.form(action="/api/v1/timeEntry/create" method="POST" novalidate)
    .form-group.row
      label.col-sm-2.col-form-label(for='date') Date
      .col-sm-10
        input#date.form-control(name='date' type='text' value=h.YYYYMMDD(new Date()) required maxlength="10")
        .invalid-feedback.invalid-date Invalid form.
    .form-group.row
      label.col-sm-2.col-form-label(for='company') Company
      .col-sm-10
        select#company.form-control(name='company')
          option(disabled selected value) - select a company -
          for company in companies
            option(value=company._id) #{company.name}
        .invalid-feedback.invalid-date Invalid form.
    .form-group.row
      label.col-sm-2.col-form-label(for='hours') Hours
      .col-sm-10
        input#hours.form-control(name='hours' type='number' required)
        .invalid-feedback Invalid form.
    .form-group.row
      label.col-sm-2.col-form-label(for='description') Description
      .col-sm-10
        input#description.form-control(name='description' type='text' required maxlength="255")
        .invalid-feedback Invalid form.
    .form-group.row
      .col-sm-10
        button.btn.btn-primary(type='submit') Save