mixin loginForm()
  .form-signin-center.text-center
    form.form-signin(action="/auth/google" method="GET")
      img.mb-3(src='/images/other/DD9_exranet_logo_v2_deluxe.png', alt='DD9 Extranet V2.0')
      .mb-3
      button.btn.btn-lg.btn-secondary.btn-block(type='submit') Sign in with Google
      p.mt-4.text-muted
        a(href='https://dd9.com') DD9
