#hour_log_all_paginate {
  display: none;
}

#hour_log_all {
  font-size: 14px;
}

.hour-log-table-title {
  position: absolute;
  left: 20px;
}

.hour_log_all_table {
  margin-top: 20px;
}

// Fixing misaligned table headers, see table row width %'s in hourLogAll.js
.hour_log_all_th_date {
  width: 15% !important;
}
.hour_log_all_th_company {
  width: 35% !important;
}
.hour_log_all_th_title {
  width: 35% !important;
}
.hour_log_all_th_hours {
  width: 7.5% !important;
}
.hour_log_all_th_hidden {
  width: 7.5% !important;
}